header {
    background-image: linear-gradient(to right, rgb(90, 107, 234) , rgb(38, 34, 227));
    text-align: center;
    margin: 10px;
    color: white;
    font-size: 40px;
}

main {
    display: flex;
}

#search-section {
    width: 20%;
    margin-right: 20px;
}

#city-search {
    display: flex;
    flex-direction: column;
}

#forecast {
    width: 80%;
}

#current-container {
    border: red solid 2px;
    height: fit-content;
}

#fiveDay-container {
    border: blue solid 2px;
    height: 50%;
}

#date-container {
    border: yellow solid 2px;
    height: 10%;
}
    
.card {
    border: purple solid 1px;
    height: fit-content;
}

#local-storage {
    border: orange solid 2px;
    height: 80%;
}

#city-search {
    border: green solid 2px;
    height: 20%;
}

#search-box {
    width: 100%;
}
